b
{
    font-weight: bold;
}

a
{
    font-family: Verdana,Helvetica,Sans-Serif,arial;
    color: #ffff66;
    text-decoration: none;
}
a:hover
{
    font-family: Verdana,Helvetica,Sans-Serif,arial;
    color: #0066CC;
    text-decoration: underline;
}

.small
{
    font-family: Verdana,Helvetica,Sans-Serif;
    font-size: 10px;
    color: black;
}

.Underline
{
    font-family: arial;
    text-decoration: none;
    font-size: 12px;
}
.Underline:hover
{
    font-family: arial;
    color: #FFFFFF;
    text-decoration: underline;
    font-size: 12px;
}


.Left1
{
    font-family: arial;
    font-size: 12px;
    color: #0066CC;
    font-weight: bold;
    text-decoration: underline;
}
.Left1:hover
{
    font-family: arial;
    font-size: 12px;
    color: white;
    font-weight: bold;
}
.Left3
{
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 12px;
    color: white;
    font-weight: bold;
}
.Left3:hover
{
    font-family: arial;
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.HomeViewerHeadline
{
    font-family: Verdana,Helvetica,Sans-Serif;
    font-size: 12px;
    color: #cccccc;
}
.HomeInputBox
{
    font-family: Verdana,Helvetica,Sans-Serif;
    font-size: 12px;
    background-color: #cccccc;
    color: darkred;
}

.Body
{
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 12px;
    color: #000000;
}
.Body:link
{
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 12px;
    color: #000000; ;text-decoration:underline;}
.Body:hover
{
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 12px;
    color: #0066cc;
}
.Body1
{
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 12px;
    color: #0066cc;
    font-weight: bold;
}
.Body1:hover
{
    font-family: Verdana,Helvetica,Sans-Serif;
    font-size: 10px;
    color: #ffff66;
}
.Body1small
{
    font-family: Verdana,Helvetica,Sans-Serif;
    font-size: 10px;
    color: black;
    text-decoration: underline;
}
.Body1small:hover
{
    font-family: Verdana,Helvetica,Sans-Serif;
    font-size: 10px;
    color: #0066cc;
    text-decoration: underline;
}

.Header
{
    font-family: Verdana,Helvetica,Sans-Serif,arial;
    font-size: 22px;
    color: gray;
}
.Header:hover
{
    font-family: Verdana,Helvetica,Sans-Serif,arial;
    font-size: 10px;
    color: #ffff66;
}

.BodyLink
{
    font-family: Verdana,Helvetica,Sans-Serif,arial;
    color: black;
    text-decoration: underline;
    font-size: 12px;
}
.BodyLink:hover
{
    font-family: Verdana,Helvetica,Sans-Serif;
    color: #0066cc;
    text-decoration: underline;
    font-size: 12px;
}

.lftlink
{
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 11px;
    color: #f1f1f1;
}
.lftlink:hover
{
    font-family: Verdana,Helvetica,Sans-Serif;
    font-size: 11px;
    color: white;
    text-decoration: underline;
}
.lftblink
{
    font-family: Verdana,Helvetica,Sans-Serif,arial;
    font-size: 12px;
    color: black;
    text-decoration: underline;
}
.lftblink:hover
{
    font-family: Verdana,Helvetica,Sans-Serif,arial;
    font-size: 12px;
    color: #0066cc;
    text-decoration: underline;
}

.Body2
{
    font-family: Verdana,Helvetica,Sans-Serif;
    font-size: 9px;
    color: gray;
}
.Body2:hover
{
    font-family: Verdana,Helvetica,Sans-Serif;
    font-size: 9px;
    color: black;
    text-decoration: underline;
}


.Footer
{
    font-family: Verdana,Helvetica,Sans-Serif;
    font-size: 12px;
    color: #99cc99;
    text-decoration: none;
}
.Footer:hover
{
    font-family: Verdana,Helvetica,Sans-Serif;
    font-size: 12px;
    color: #99cc99;
    text-decoration: none;
    background-color: #333333;
}

.HR
{
    height: 1px;
    color: black;
}
.Input
{
    font-family: Courier,Fixed-Width;
    font-size: 11px;
}

.Logo
{
    font-family: Arial;
    font-size: 12px;
    color: #8a8a8a;
    font-weight: bold;
}
.Logo:hover
{
    font-family: Arial;
    font-size: 12px;
    color: #8a8a8a;
}

.Lt
{
    font-family: Arial;
    font-size: 10px;
    color: #8a8a8a;
    font-weight: bold;
}
.Lt:hover
{
    font-family: Arial;
    font-size: 10px;
    color: #8a8a8a;
}
